*{
    padding: 0px;
    margin: 0px;
}
body{

}
#wap{
    max-width: 1100px;
    margin: 0 auto;
}

#header{
    width: 100%;
}

#header #block-top{
    margin: auto;
    width: 100%;
    float: left;
    padding: 5px 0;
    border-bottom: 1px solid #e0dfdf;
}
#header #block-top .date{
    width: 50%;
    float: left;
    font-family: arial;
    padding-top: 4px;
}
#header #block-top .menu-blocktop{
    width: 50%;
    float: right;
}
#header #block-top .menu-blocktop ul li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#e9e9eb));
    padding: 4px 5px;
}

#header #block-top .menu-blocktop ul li a{
    color: #4f4c4c;
    font-family: 'arial';
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding-left: 0;
    position: relative;
    padding-left: 23px;
    text-decoration: none;
}

#header #block-top .menu-blocktop ul li a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #068153;
    font-size: 19px;
    position: absolute;
    left: 0;
}
#header #block-top .menu-blocktop ul li:nth-child(1) a {
    padding-left: 28px;
}
#blocktop .menu-blocktop-container ul li:nth-child(1) a:before {
    content: "\f2b5";
}
#header #block-top .menu-blocktop ul li:nth-child(2) a:before {
    content: "\f23e";
}
#blocktop .menu-blocktop-container ul li:nth-child(3) a:before {
    content: "\f0a1";
}

#header-conten #logo{
    width: 30%;
    float: left;
    padding: 10px 0;
}
#logo #title img{
    width: 330px;
}

h1#title img{
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 36px;
    line-height: 1.25;
    margin: 0;
    text-transform: uppercase;
}
div#banner-header{
    float: left;
    padding: 10px 0;
    width: 770px;
}
#banner-header img{
    float: right;
}
div#menu-header {
    width: 100%;
    background: rgba(21,75,176,1);
    background: -moz-linear-gradient(top, rgba(21,75,176,1) 0%, rgb(37, 89, 185) 36%, rgba(6,49,130,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,75,176,1)), color-stop(36%, rgba(62,103,179,1)), color-stop(100%, rgba(6,49,130,1)));
    background: -webkit-linear-gradient(top, rgba(21,75,176,1) 0%, rgb(37, 89, 185) 36%, rgba(6,49,130,1) 100%);
    background: -o-linear-gradient(top, rgba(21,75,176,1) 0%, rgb(37, 89, 185) 36%, rgba(6,49,130,1) 100%);
    background: -ms-linear-gradient(top, rgba(21,75,176,1) 0%, rgb(37, 89, 185) 36%, rgba(6,49,130,1) 100%);
    background: linear-gradient(to bottom, rgba(21,75,176,1) 0%, rgb(37, 89, 185) 36%, rgba(6,49,130,1) 100%);
    height: 40px;
    clear: both;
}

#header #menu-header ul {
    position: absolute;
}
#header #menu-header ul li:first-child a{
    border-left: 0;
    font-size: 20px;
    padding-right: 10px;
    display: block;
    height: 15px;
    background: rgba(45,112,245,1);
    background: -moz-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,112,245,1)), color-stop(100%, rgba(8,60,162,1)));
    background: -webkit-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -o-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: linear-gradient(to bottom, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
}

#header #menu-header ul li{
    float: left;
    list-style: none;
    height: 40px;
    border-left: solid 1px #5465d0;
    border-right: solid 1px #183768;
}
#header #menu-header ul li:last-child{
    border-right: none;
}
#header #menu-header ul li a {
    font-size: 13px;
    color: #fff;
    padding: 10px 12px 11px 11px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
}
#header #menu-header ul li a:hover{
    background: rgba(45,112,245,1);
    background: -moz-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,112,245,1)), color-stop(100%, rgba(8,60,162,1)));
    background: -webkit-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -o-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
    background: linear-gradient(to bottom, rgba(45,112,245,1) 0%, rgba(8,60,162,1) 100%);
}

#header #menu-header ul li > .sub-menu{
    height: auto;
    margin: 0 0 0 -1px;
    width: 210px;
    z-index: 9999;
    background: #cdcdcd;
    display: none;


}
#header #menu-header ul li > .sub-menu li{
    background-color: #154ab0;
    border-top: solid 1px #5465d0;
    border-bottom: solid 1px #183768;
    position: relative;
    width: 100%;
    opacity: 0.9;

}
#header #menu-header ul li > .sub-menu li a:hover{
    background: #2d71f5;
}

#header #menu-header ul li > .sub-menu li a {
    font-size: 13px;
    background: none;

}

#header #menu-header ul li:hover .sub-menu{
    display: block;
}

#header #menu-header ul li > .sub-menu li:last-child{
    border-right: solid 1px #183768;
}

#wrapper #container {
    width: 100%;
    background: #f3f3f3;
    height: 500px;
}

#wrapper #container #hot-news {
    width: 722px;
    float: left;
    margin-right: 2px;
    border-bottom: 1px solid #f1f1f1;
    background: #ffffff;
}


#wrapper #container #hot-news #news-slider {
    float: left;
    width: 400px;
    overflow: hidden;
    border-right: 1px solid #dedede;
    padding-top: 10px;
}
#wrapper #container #hot-news #news-slider img {
    width: 380px;
    height: 250px;
    border: 1px solid #f1f1f1;
    padding: 2px;
}
#wrapper #container #hot-news #news-slider h3 a {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 0 0;
    font-family: 700 21px/30px "Times New Roman",Georgia,Times;
    color: #052156;
    text-decoration: none;

}
#wrapper #container #hot-news #news-slider h3 a:hover{
    color: #004999;
}
.nbtcsapo {
    line-height: 22px;
    margin-top: 12px;
    font-size: 14px;
    font-family: arial;
    margin-bottom: 12px;
}
#wrapper #container #hot-news #news-slider span a {
    font-weight: bold;
    font-family: arial;
    font-size: 13px;
    line-height: 21px;
    color: #004175;
    text-decoration: none;
    width:100%;
    display: block;
}
#wrapper #container #hot-news #news-slider i{
    color: #13912B;
    padding-right: 5px;
    font-weight: bold;
}

#wrapper #container #hot-news #news-list {
    width: 300px;
    float: left;
    padding: 10px;
}
#wrapper #container #hot-news #news-list h3 {
    background: url(./images/bg-hotnew.png) no-repeat;
    color: #fff;
    padding: 5px 0 7px 34px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
#wrapper #container #hot-news #news-list li{
    list-style: none;
    background: url(./images/sprite-2.gif) no-repeat 0px 5px;
    padding-left: 20px;
    margin: 7px 0px 0px 0px;

}
#wrapper #container #hot-news #news-list li a{
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 17px !important;
    text-decoration: none;

}
#wrapper #container #hot-news #news-list li a:hover{
    text-decoration: underline;
    color: #0549d1;
}


#wrapper #container #ads-container {
    width: 375px;
    float: right;
    background: #f3f3f3;
    padding-top: 10px;
}
#wrapper #container #ads-container .ads1 {
    border: #ccc 1px solid !important;
    padding: 3px;
    margin-bottom: 5px !important;
    width: 336px;
    margin: 0 auto;
}
#main-body{
    width: 100%;
    margin-top: 10px;
}
#main-body #body-content{
    width: 925px;
    float: left;
}
#main-body #body-content #content{
    width: 615px;
    float: left;

}
#main-body #body-content #content .cont-1{
    width: 300px;
    float: left;
    margin-top: 15px;
    margin-right: 7px;
}
#main-body #body-content #content .title-box a{
    border-radius: 5px;
    background: rgba(8,60,162,1);
    height: 16px;
    display: block;
    padding: 3px 6px 8px;
    float: left;
    color: #fff;
    font-weight: bold;
    font: 700 12px/22px Arial;
    text-transform: uppercase;
    text-decoration: none;

}
#main-body #body-content #content .full-new a{
    border-radius: 5px;
    background: rgb(210, 208, 208);
    height: 16px;
    display: block;
    padding: 3px 13px 8px;
    float: left;
    color: #3e3d3d;
    font-weight: bold;
    font: 700 12px/22px Arial;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 15px;
    font-style: italic;
}

#main-body #body-content #content .cont-1 h3 a{
    display: block;
    clear: both;
    font: 700 14px/20px "Times New Roman",Times,serif;
    color: #004175;
    text-transform: capitalize;
    padding-top: 10px;
    text-decoration: none;
}
#main-body #body-content #content .cont-1 h3 a:hover{
    color: #0549d1;
}
#main-body #body-content #content .cont-1 ul{
    clear: both;
    padding-top: 10px;
    background: #f8f8ff;
}
#main-body #body-content #content .cont-1 ul li{
    list-style: none;
}
#main-body #body-content #content .cont-1 ul li a{
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 22px !important;
    text-decoration: none;
}
#main-body #body-content #content .cont-1 ul li a:hover{
    text-decoration: underline;
    color: #0549d1;
}

#main-body #body-content #content .cont-1 ul li:nth-child(4),#main-body #body-content #content .cont-1 ul li:nth-child(5){
    background: #e3edf1;
}

#main-body #body-content #content .cont-1 img{
    width: 130px;
    height: 106px;
    padding: 2px;
    float: left;
    margin-right: 5px;
    border: 1px solid #D8D8D8;
}

#main-body #body-content #sitebar{
    width: 306px;
    float: left;
}
#main-body #body-content #sitebar .ads-content{
    width: 300px;
}
#main-body #body-content #sitebar .news-sitebar .new-home{
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
}
#main-body #body-content #sitebar .news-sitebar .new-home .h3new{
    display: block;
    background: rgba(8,60,162,1);
    padding: 10px 0 9px 20px;
    color: #fff;
    font-weight: bold;
    font: 700 16px/22px Arial;
    text-transform: uppercase;
    text-decoration: none;
}
#main-body #body-content #sitebar .news-sitebar .new-home h3 a{
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 17px !important;
    text-decoration: none;
    font-weight: bold;
}
#main-body #body-content #sitebar .news-sitebar .new-home h3 a:hover{
    color: #0549d1;
    text-decoration: underline;

}
#main-body #body-content #sitebar .news-sitebar .new-home ul li{
    margin: 10px;
    border-bottom: 1px solid #cdcdcd;
    height: 65px;
}
#main-body #body-content #sitebar .news-sitebar .new-home ul li:last-child{
    border: none;
}

#main-body #body-content #sitebar .news-sitebar .new-home ul li img{
    width: 83px;
    height: 55px;
    padding: 2px;
    float: left;
    margin-right: 5px;
    border: 1px solid #D8D8D8;
}
#main-body #body-content #content #content-2{
    width: 100%;
    clear: both;
    padding: 15px 0px 0px 0px;
}
#main-body #body-content #content #content-2 .tabpanel{
    padding-top: 14px;
    border: 1px solid #cdcdcd;
    height: 185px;
}
#main-body #body-content #content #content-2 ul{
    border: 1px solid #cdcdcd;
    height: 31px;
    background: #f4f5f7;
}
#main-body #body-content #content #content-2 ul li{
    float: left;
    list-style: none;
    padding: 7px 15px 9px 15px;
}
#main-body #body-content #content #content-2 ul li a{
    text-decoration: none;
    font-weight: bold;
    font-family: arial;
    font-size: 13px;
    color: #004175;
    text-transform: capitalize;
}

#main-body #body-content #content #content-2 .itemblock{
    width: 30%;
    float: left;
    margin: 10px 10px 5px 10px;
}

#main-body #body-content #content #content-2 .itemblock span a{
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 17px !important;
    text-decoration: none;
}
#main-body #body-content #content #content-2 .itemblock span a:hover{
    color: #0549d1;
}
#main-body #body-content #content #content-2 .itemblock img{
    width: 57px;
    float: left;
    padding-right: 6px;
}

#main-body #body-content #content #content-4{
    padding-top: 20px;
    clear: both;

}
#main-body #body-content #content #content-4 .box4 a {
    background: url(./images/sprite-5.jpg) no-repeat -41px;
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 2px 0px 3px 12px;
    font: 700 12px/22px Arial;
}
#main-body #body-content #content #content-4 .box4-full{
    top: 3px;
    position: absolute;
    left: 187px;
}
#main-body #body-content #content #content-4 .box4-full a{
    font-weight: bold;
    font-style: italic;
    color: #0b4189;
    font: 700 12px/22px Arial;
    text-decoration: none;
    text-transform: capitalize;

}
#main-body #body-content #content #content-4 .cont-4 h3 a{
    display: block;
    font: 700 14px/20px "Times New Roman",Times,serif;
    color: #004175;
    text-transform: capitalize;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    float: left;
}
#main-body #body-content #content #content-4 .cont-4 img{
    width: 143px;
    height: 122px;
    padding: 2px;
    float: left;
    margin: 13px 24px 14px 0px;
    border: 1px solid #D8D8D8;
}
#main-body #body-content #content #content-4 .cont-4{
    position: relative;
    margin-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 9px;
}
#main-body #body-content #content #content-4 .cont-4 p{
    padding-bottom: 15px;
}
#main-body #body-content #content #content-4 .cont-4 .connec {
    display: block;
    float: right;
    padding-right: 20px;
    background: url(./images/sprite-1.jpg) no-repeat 61px;
}
#main-body #body-content #content #content-4 .cont-4 .connec a{
    font: 500 14px/18px Arial;
    color: #999;
}
#main-body #body-content #content #content-4 .cont-4 ul{
    clear: both;
}
#main-body #body-content #content #content-4 .cont-4 ul li{
    list-style: none;

}
#main-body #body-content #content #content-4 .cont-4 ul li a{
    background: url(./images/sprite-2.gif) no-repeat 0px 5px;
    padding-left: 19px;
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 20px !important;
    text-decoration: none;
}

#main-body #body-content #content #content-4 .cont-4 ul li a:hover{
    color: #4f82ac;
}
#main-body #sitebar-alt{
    width: 175px;
    float: left;
}
/* Kết Thúc khối content-4*/
/* Kết Thúc khối content*/

/* Mở đầu khối slider-home phần luyện thi*/
#wap #slider-home {
    width: 100%;
    clear: both;
}
#wap #slider-home .block-title {
    text-align: center;
}
#wap #slider-home .block-title a {
    background: #1B71F4;
    padding: 5px 14px 9px 10px;
    color: #ffffff;
    font-size: 12px;
    margin-right: 15px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul{
    margin-top: 24px;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul li {
    list-style: none;
    width: 132px;
    background: #422e47;
    float: left;
    height: 113px;
    margin-right: 6px;
    text-align: center;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul li:last-child{
    float: right;
    margin-right: 0;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul li img{
    padding-top: 17px;
}
#wap #slider-home .giao-vien .giao-vien-li img:hover {
    opacity: 0.4;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul li span{
    width: 100%;
    clear: both;
    display: block;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
#wap #slider-home .menu-luyenthi .cac-mon-hoc ul li a{
    text-decoration: none;
}
#wap #slider-home .giao-vien{
    clear: both;
    width: 100%;
    padding-top: 30px;
}
#wap #slider-home .giao-vien .giao-vien-li{
    width: 207px;
    float: left;
    list-style: none;
    margin-right: 13px;
    border: 1px solid #cdcdcd;
}
#wap #slider-home .giao-vien .giao-vien-li:last-child{
    float: right;
    margin-right: 0;
    margin-bottom: 10px;
}
#wap #slider-home .giao-vien .giao-vien-li h3 a{
    font-weight: bold;
    font-family: arial;
    font-size: 13px;
    line-height: 21px;
    color: #004175;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 15px;
}
#wap #slider-home .giao-vien .giao-vien-li .gv{
    width: 91%;
    display: block;
    padding: 1px 0px 8px 16px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #0d72c7;
    background: url(./images/star.png) no-repeat 110px 0px;
}
#wap #slider-home .giao-vien .giao-vien-li .price{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    padding: 1px 0px 8px 16px;
    margin-top: 10px;
    display: block;
    float: left;
}
#wap #slider-home .giao-vien .giao-vien-li .submit{
    float: right;
    background: -webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00));
    background-repeat: repeat-x;
    padding: 3px 15px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #666;
    font-size: 12px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 1.5625;
    margin: 4px 16px 24px 0px;
}
/* kết thúc khối CSS luyện thi*/


#main-body #body-content #sitebar .ads-content img{
    width: 300px;
    border: #ccc 1px solid !important;
    padding: 2px;
    margin-bottom: 10px !important;
    margin: 0 auto;
}
#main-body #sitebar-alt img{
    width: 160px;
    border: #ccc 1px solid !important;
    padding: 2px;
    margin-bottom: 5px !important;
    margin: 0 auto;
}

/* Bắt dâud CSS phần FOOTER */
#wap #footer{
    clear: both;
    margin-top: 15px;
    height: 147px;
    overflow: hidden;
    padding: 20px 15px;
    background-position: top;
    background: #000;
    background: rgba(164,210,255,1);
    background: -moz-linear-gradient(top, rgba(164,210,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,210,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(164,210,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(164,210,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,210,255,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(164,210,255,1) 0%, rgba(255,255,255,1) 100%);
}
#wap #footer .info{
    float: left;
    width: 85%;
}
#wap #footer .info p{
    padding-left: 19px;
    color: #004175;
    font: 500 13px/15px Arial;
    line-height: 20px !important;
    text-decoration: none;
}
#wap #footer .info span{}
#wap #footer .dmca{
    float: right;
    width: 15%;

}

/* Kết thúc CSS phần Footer */






